@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "tailwindcss";

#root {
  --primary-color: #ffffff;
  --red: #eb6f6f;
  --black: #212121;
  --Blumine: #1d4d7c;
  --Blumine-hover: #143d66;
  --Blumine-bg: #14446f;
  --SurfCrest: #c3dfc6;
  --Cornflower: #9dcde7;
  --Fantasy: #f8f0ec;
  --Snuff: #ddd6e9;
  --MandysPink: #f4cab4;
  --Melanie: #e9c5da;
  --FogL: #dbddff;
  --Sidecar: #F4E3C7;
  --Sidecar-2: #f6dccb;
  --LemonChiffon: #fff8cc;
  --MandyPink: #efb1b1;
  --BrownRust: #be7143;
  --Rum: #7a6394;
  --Parsley: #145a31;
  --Whiskey: #d49c7c;
  --PixieGreen: #badcbb;
  --Bone: #e8d6c9;
  --MineShaft: #212121;
  --Emperor: #555555;
  --Nevada: #f3f3f3;
  --WillowBrook: #ddeedd;
  --Denim: #1968cf;
  --Victoria: #593c77;
  --MintTulip: #c3e3f2;
  --Linen: #f8ecd8;
  --Twilight: #e6d6df;
  --Kabul: #645043;
  --BurntUmber: #912926;
  --BeautyBush: #efbbc2;
  --WineBerry: #661c43;
  --AlbescentWhite: #f2e0c9;
  --AthensGray: #edeff4;
  --Mercury: 185, 185, 185;
  --white-color: 255, 255, 255;
  --submit-color: 3, 2, 2;
  --teal: #008080;
  --contact-input: #f2f2f2;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.mw-1280 {
  max-width: 80rem;
  margin: 0 auto;
  width: 100%;
}

.wh-1920 {
  width: 120rem;
  height: 78.375rem;
}

.logo {
  width: clamp(17.9575rem, 5.2554rem + 56.4538vw, 73rem);
  height: 100%;
}
.logo .site-logo {
  width: clamp(5.3619rem, 4.0752rem + 5.7186vw, 10.9375rem);
}
.logo .site-title {
  width: clamp(11.5956rem, 6.2379rem + 23.8122vw, 34.8125rem);
}
.down-border img {
  width: clamp(23.75rem, 11.9231rem + 52.5641vw, 75rem);
  height: 0.75rem;
}
.g-48 {
  gap: 3rem;
}
.g-3 {
  gap: 0.75rem;
}
.submit-btn {
  background-color: rgba(3, 2, 2, 0.06);
  border-radius: 0.4rem;
}

.footer:hover {
  text-decoration: underline;
}


.header-menu {
  @apply font-medium text-sm text-(--primary-color) tracking-wide;
}

.menus {
  @apply flex items-center  gap-1 px-5 py-2 rounded-full hover:bg-(--Blumine-hover);
}

.left-btn {
  background-color: rgba(173, 15, 15, 0.06);
}
#navbar-dropdown {
  display: flex;
}





/* media query */
@media (max-width: 1024px) {
  .menu-btn {
    display: flex;
  }

  .menu-open #navbar-dropdown {
    display: flex;
  }
}

@media (max-width: 768px) {
  .web-menu {
    display: none;
  }
  #navbar-dropdown {
    display: none;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  .mob-menu {
    position: absolute;
    top: 10.125rem; 
    margin: -0.75rem;
    background-color: rgba(var(--white-color), 0.9);
    width: 100%;
  }
  
  .mob-menu ul li a {
    color: var(--black);
  }
  
  .submenus {
    color: var(--black);
  }
  
  .mob-menu-btn {
    padding: 0rem 0.625rem 0.625rem; 
  }
  
  .left-btn {
    background: var(--Blumine);
  }
}